{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Medignore</title>

    <script src="https://kit.fontawesome.com/074b86ccc4.js" crossorigin="anonymous"></script>

    <!-- <script src="https://unpkg.com/vue/dist/vue.min.js"></script> -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <link rel="stylesheet" href="{% static 'medignore/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'medignore/css/style.css' %}">
</head>

<body>
    <div id="wrap">
        <div id="header">
            <h1 class="logo"><img src="{% static 'medignore/img/logo.png' %}" alt="medignore.io" /></h1>
            <p>복용 중인 약에 대한 주의사항을 확인하세요</p>
        </div>
        <div id="content">
            <form action="/medignore/result/" method="get">
                <input type="text" id="durItemName" name="durItems" value="">
                <div class="merong">
                    <span v-for="item in list">{% verbatim %}{{ item.name }},{% endverbatim %}</span>
                </div>
                <div id="searchForm">
                    <div class="line">
                        <div class="i_box">
                            <div id="inputBox"> 
                                <input type="text" id="searchText" @input="durItems=$event.target.value" placeholder="약 이름 검색">
                            </div>
                            <div class="btn">
                                <input type="button" value="Search" @click="durSubmit()">
                            </div>
                            <div id="camera"><img src="{% static 'medignore/img/camera.png' %}" alt=""></div>
                        </div>
                    </div>

                    <div id="searchResult" v-if="this.durItems != ''">
                        <ul class="prd_list" v-for="d in filtered">
                            <li v-on:click="addTodo(`${ d.Item }`)">{% verbatim %}{{ d.Item }}{% endverbatim %}</li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>

        <script>
            new Vue({
                el: '#content',
                data() {
                    return {
                        durItems: '',
                        data: '',
                        list: [],
                    }
                },
                created: function() {
                    axios.get('https://raw.githubusercontent.com/distinctive98/Medignore/dev/HACKATHON/medignore/static/medignore/json/durItems.json')
                        .then(function(response) {
                            // JSON responses are automatically parsed.
                            this.data = response.data['FIELD']
                            console.log(response.data['FIELD'][0]['Item'])

                        }.bind(this)).catch(function(e) {
                            console.error(e)
                        })
                },
                computed: {
                    filtered: function() {
                        var dname = this.durItems.trim();
                        return this.data.filter(function(item, index) {
                            if (item.Item.indexOf(dname) > -1) {
                                return true;
                            }
                        });
                    }
                },
                methods: {
                    addTodo: function(name) {
                        $("#searchText").before("<span class='dur'><span class='close'><i ref='xicon' class='fas fa-times'></i></span><span class='text'>" + name + "</span><input type='hidden' value=" + name + "></span>");
                        this.durItems = '';
                        
                        this.list.push({
                            name: name
                        })

                        console.log(this.list)
                        
                    },
                    durSubmit: function() {
                        var merong = $('.merong').text();
                        $('#durItemName').attr('value', merong)
                        alert(merong)
                    },

                }
            })

            $(document).ready(function() {
                $(document).on("click", "span.dur span.close", function(event) {
                    $(this).parent('.dur').remove();
                });
            })
        </script>

        <div id="footer">
            <div class="box">
                <div class="icon"><img src="{% static 'medignore/img/copy_img.png' %}" alt="medignore" /></div>
                <p>Copyright ⓒ Medignore. All rights reserved.</p>
            </div>
        </div>
        <a href="https://github.com/distinctive98/Medignore" target="_blank" class="github_corner"><img src="{% static 'medignore/img/icon_github.png' %}" alt="Medignore Github" /></a>
    </div>

</body>

</html>