{% extends 'medignore/base.html' %}

{% block title %}TEMP{% endblock %}

{% block body %}
<h1 class="text-center">Medignore</h1>
<hr>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    이미지: <input type="file" id="file-id" name="file_name" onchange="theimage();">
    <input type="text" name="file_path" id="file-path"><br>
    <input type="submit">
</form>
<script>
function theimage(){
 var filename = document.getElementById('file-id').value;
 document.getElementById('file-path').value = filename;
 alert(filename);
}
</script>
{% endblock %}